<div id="page-wrapper">
    <div class="col-sm-12">
        <!-- shift date and time -->
        <div class="day-shft">
            <ul class="nav">
                <li>
                    <p>Date & time</p>
                    <h4>{{ date }}</h4>
                </li>
                <li>
                    <p>shift</p>
                    <h4>Day Shift</h4>
                </li>
            </ul>
            <!--// shift date and time -->
            <!-- add location -->
            <div class="schd-topright">
                <a class="btn bg-btn color-mrn" data-toggle="modal" data-target="#modal" (click)="clickAdd()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Add New Equipment
                </a>
            </div>
            <!--// add location -->
        </div>
    </div>
    <div class="col-sm-12">
        <!-- status of shifts -->
        <div class="status-shifts">
            <!-- active shift -->
            <div class="actvt-shift">
                <h4 class="title">Active</h4>
                <div class="inside-itms"  id="active" [sortablejs]="active" [sortablejsOptions]="options">
                    <!-- shift items -->
                    <ul class="nav activ-lst" *ngFor="let item of active" id="{{ item._id }}">
                        <li>
                            <!-- nested list -->
                            <ul class="nav nested-list">
                                <li>
                                    <p>Equipment ID</p>
                                    <h4>{{ item.name }}</h4>
                                </li>
                            </ul>
                            <ul class="nav nested-list">
                                <li>
                                    <p>Engine Hours</p>
                                    <h4>{{ item.engineHours }}</h4>
                                </li>
                                <li>
                                    <p>Mileage</p>
                                    <h4>{{ item.mileage }}</h4>
                                </li>
                            </ul>
                            <ul class="nav nested-list">
                                <li>
                                    <p>Miner</p>
                                    <h4>{{ item.miner }}</h4>
                                </li>
                                <li>
                                    <p>Location</p>
                                    <h4>{{ item.location }}</h4>
                                </li>
                            </ul>
                            <!--// nested list -->
                        </li>
                        <li class="imp-notes">
                            <p>notes</p>
                            <p>{{ item.notes }}</p>
                            <div class="edit-shit" data-toggle="modal" data-target="#modal" (click)="selectEquipment(item._id)">
                                <img src="/assets/images/edit-icn.svg" alt="edit-icn.svg">
                            </div>
                        </li>
                        <p class="updated">Last Updated at {{ item.updatedAt }}</p>
                        <div class="move">
                            <img src="/assets/images/move-icn.svg" alt="move-icn.svg">
                        </div>
                    </ul>
                    <!--// shift items -->
                </div>
            </div>
            <!--// active shift -->
            <!-- other-active -->
            <div class="actvt-shift">
                <h4 class="title">Parked</h4>
                <div class="inside-itms"  id="parked" [sortablejs]="parked" [sortablejsOptions]="options">
                    <!-- shift items -->
                    <ul class="nav activ-lst" *ngFor="let item of parked" id="{{ item._id }}">
                        <li>
                            <!-- nested list -->
                            <ul class="nav nested-list">
                                <li>
                                    <p>Equipment ID</p>
                                    <h4>{{ item.name }}</h4>
                                </li>
                            </ul>
                            <ul class="nav nested-list">
                                <li>
                                    <p>Engine Hours</p>
                                    <h4>{{ item.engineHours }}</h4>
                                </li>
                                <li>
                                    <p>Mileage</p>
                                    <h4>{{ item.mileage }}</h4>
                                </li>
                            </ul>
                            <ul class="nav nested-list">
                                <li>
                                    <p>Miner</p>
                                    <h4>{{ item.miner }}</h4>
                                </li>
                                <li>
                                    <p>Location</p>
                                    <h4>{{ item.location }}</h4>
                                </li>
                            </ul>
                            <!--// nested list -->
                        </li>
                        <li class="imp-notes">
                            <p>notes</p>
                            <p>{{ item.notes }}</p>
                            <div class="edit-shit" data-toggle="modal" data-target="#modal" (click)="selectEquipment(item._id)">
                                <img src="/assets/images/edit-icn.svg" alt="edit-icn.svg">
                            </div>
                        </li>
                        <p class="updated">Last Updated at {{ item.updatedAt }}</p>
                        <div class="move">
                            <img src="/assets/images/move-icn.svg" alt="move-icn.svg">
                        </div>
                    </ul>
                </div>
            </div>
            <!--// other-active -->
            <!-- colsed -->
            <div class="actvt-shift">
                <h4 class="title">Down</h4>
                <div class="inside-itms" id="down" [sortablejs]="down" [sortablejsOptions]="options">
                    <!-- shift items -->
                    <ul class="nav activ-lst" *ngFor="let item of down" id="{{ item._id }}">
                        <li>
                            <!-- nested list -->
                            <ul class="nav nested-list">
                                <li>
                                    <p>Equipment ID</p>
                                    <h4>{{ item.name }}</h4>
                                </li>
                            </ul>
                            <ul class="nav nested-list">
                                <li>
                                    <p>Engine Hours</p>
                                    <h4>{{ item.engineHours }}</h4>
                                </li>
                                <li>
                                    <p>Mileage</p>
                                    <h4>{{ item.mileage }}</h4>
                                </li>
                            </ul>
                            <ul class="nav nested-list">
                                <li>
                                    <p>Miner</p>
                                    <h4>{{ item.miner }}</h4>
                                </li>
                                <li>
                                    <p>Location</p>
                                    <h4>{{ item.location }}</h4>
                                </li>
                            </ul>
                            <!--// nested list -->
                        </li>
                        <li class="imp-notes">
                            <p>notes</p>
                            <p>{{ item.notes }}</p>
                            <div class="edit-shit" data-toggle="modal" data-target="#modal" (click)="selectEquipment(item._id)">
                                <img src="/assets/images/edit-icn.svg" alt="edit-icn.svg">
                            </div>
                        </li>
                        <p class="updated">Last Updated at {{ item.updatedAt }}</p>
                        <div class="move">
                            <img src="/assets/images/move-icn.svg" alt="move-icn.svg">
                        </div>
                    </ul>
                    <!-- shift items -->
                </div>
            </div>
            <!--// colsed -->
        </div>
        <!--// status of shifts -->
    </div>
  </div>

  
  <div class="modal" id="modal">
        <div class="modal-header" >
            <h3 *ngIf="!add" class="modal-title">Edit Equipment
      
                <span data-dismiss="modal" class="close-mdl"><img src="/assets/images/close.png" alt="close.png"></span>
            </h3>
            <h3 *ngIf="add" class="modal-title">Add Equipment
      
                <span data-dismiss="modal" class="close-mdl"><img src="/assets/images/close.png" alt="close.png"></span>
            </h3>
        </div>
      
        <div class="modal-body" >
            <div class="mult-slct-bx">
                <ul class="nav">
                    <li>
                        <div class="form-group serch-field">
                            <label>ID</label>
                            <input *ngIf="!add" type="text" placeholder="Enter equipment Id" class="form-control" [(ngModel)]="currentEquipment.name">
                            <input *ngIf="add" type="text" placeholder="Enter equipment Id" class="form-control" [(ngModel)]="equipmentObj.name">
                        </div>
                    </li>
                    <li>
                        <div class="form-group serch-field">
                            <label>Engine Hours</label>
                            <input *ngIf="!add" type="text" placeholder="Enter engine hours" class="form-control" [(ngModel)]="currentEquipment.engineHours">
                            <input *ngIf="add" type="text" placeholder="Enter engine hours" class="form-control" [(ngModel)]="equipmentObj.engineHours">
                        </div>
                    </li>
                    <li>
                        <div class="form-group serch-field">
                            <label>Mileage</label>
                            <input *ngIf="!add" type="text" placeholder="Enter mileage" class="form-control" [(ngModel)]="currentEquipment.mileage">
                            <input *ngIf="add" type="text" placeholder="Enter mileage" class="form-control" [(ngModel)]="equipmentObj.mileage">
                        </div>
                    </li>
                    <li *ngIf="add">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" [(ngModel)]="equipmentObj.status">
                                <option value="active">Active</option>
                                <option value="parked">Parked</option>
                                <option value="down">Down</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="form-group serch-field">
                            <label>Location</label>
                            <input *ngIf="!add" type="text" placeholder="Enter equipment location" class="form-control" [(ngModel)]="currentEquipment.location">
                            <input *ngIf="add" type="text" placeholder="Enter equipment location" class="form-control" [(ngModel)]="equipmentObj.location">
                        </div>
                    </li>
                    <li>
                        <div class="form-group serch-field">
                            <label>Miner</label>
                            <input *ngIf="!add" type="text" placeholder="Enter miner name" class="form-control" [(ngModel)]="currentEquipment.miner">
                            <input *ngIf="add" type="text" placeholder="Enter miner name" class="form-control" [(ngModel)]="equipmentObj.miner">
                        </div>
                    </li>
                    
                    <li class="notes-area">
                        <p>Notes</p>
                        <textarea *ngIf="!add" class="sfty-msg-ara" maxlength="150" placeholder="Enter your notes here" [(ngModel)]="currentEquipment.notes"></textarea>
                        <textarea *ngIf="add" class="sfty-msg-ara" maxlength="150" placeholder="Enter your notes here" [(ngModel)]="equipmentObj.notes"></textarea>
                  </li>
                </ul>
            </div>
            <div class="text-area">
      
            </div>
        </div>
      
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
            <button *ngIf="!add" type="button" (click)="deleteEquipment()" class="btn btn-danger">DELETE</button>
            <button *ngIf="!add" class="btn btn-info" (click)="editEquipment()" type="button">Save Changes</button>
            <button *ngIf="add" class="btn btn-info" (click)="addEquipment()" type="button">Add Equipment</button>
        </div>
      </div>